.matrix_row {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    padding: 0;
    background-color: lightgray;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.mine {
    background-color: red;
}

.cell {
    transition: 0.2s;
    border: 1px solid black;
}

.cell:hover {
    background-color: gray;
    transition: 0.2s;
}

.cell::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(55, 0, 255);
    transform: translate(-5px, -5px) scale(0%);
}

.cell:hover::after {
    /* transition: 1s; */
    /* transform: scale(100%); */
    animation: hovering 1s infinite ease;
}

@keyframes hovering {
    0% {
        transform: translate(-5px, -5px) scale(50%);
        opacity: 50%;
    }
    100% {
        transform: translate(-5px, -5px) scale(100%);
        opacity: 5%;
    }
}

.checked {
    background-color: rgb(51, 51, 51);
    border: 1px solid black;
}

div[data-mine-neighbor='0'] {
    color: rgb(51, 51, 51);
}
div[data-mine-neighbor='1'] {
    color: skyblue;
}
div[data-mine-neighbor='2'] {
    color: rgb(40, 156, 40);
}
div[data-mine-neighbor='3'] {
    color: rgb(211, 56, 56);
}
div[data-mine-neighbor='4'] {
    color: rgb(146, 76, 211);
}
div[data-mine-neighbor='5'] {
    color: bisque;
}
div[data-mine-neighbor='6'] {
    color: rgb(48, 99, 99);
}
div[data-mine-neighbor='7'] {
    color: brown;
}
div[data-mine-neighbor='8'] {
    color: teal;
}